In [1]:
import pandas as pd

In [25]:
df = pd.read_csv('./Resources/Step_1.csv')

In [26]:
# eliminar Cow, ID_Cow_Bracelet_Podometer
df_clean = df[['Patio', 'Gynecological_Status',
       'Birth_Date', 'Daily_Production', 'Average_Daily_Production_Days',
       'Average_Daily_Production_Percentage', 'Lactation_Number', 'Milk_Days',
       'Days_After_Heat', 'Insemination', 'Days_After_Insemination',
       'Pregnacy_Days', 'Inseminator_Name', "Bull's Name",
       'Number_of_Abortions', 'Insemination_Date', 'Production_Peak',
       'Previous_Lactation_Production', 'Actual_Lactation_Production']]

In [27]:
df_clean.loc[df_clean['Daily_Production'] < 28, 'Daily_Production_bool'] = 0

/home/adrian/.local/lib/python3.8/site-packages/pandas/core/indexing.py:1599: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
/home/adrian/.local/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [28]:
df_clean.loc[df_clean['Daily_Production'] >= 28, 'Daily_Production_bool'] = 1

/home/adrian/.local/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [29]:
df_clean

,Patio,Gynecological_Status,Birth_Date,Daily_Production,Average_Daily_Production_Days,Average_Daily_Production_Percentage,Lactation_Number,Milk_Days,Days_After_Heat,Insemination,Days_After_Insemination,Pregnacy_Days,Inseminator_Name,Bull's Name,Number_of_Abortions,Insemination_Date,Production_Peak,Previous_Lactation_Production,Actual_Lactation_Production,Daily_Production_bool
0,26,Pregnacy,8/27/2021,29.2,29.9,-2,4,222,139,2,139,139,CARLOS-URIEL,EXPO,0,11/18/2021,50.3,9269,7491,1.0
1,24,Pregnacy,9/8/2021,34.6,34.4,1,4,210,132,2,132,132,CARLOS-URIEL,MARADONA,0,11/25/2021,39.1,8048,6798,1.0
2,21,Labor,3/17/2022,44.3,44.3,0,4,20,0,0,0,0,0,0,0,0,0.0,10529,732,1.0
3,21,Labor,4/1/2022,41.1,0.0,0,3,5,0,0,0,0,0,0,0,0,0.0,11448,41,1.0
4,17,Pregnacy,12/11/2021,51.9,50.6,3,7,116,61,1,61,61,CARLOS-JEHU,KEYNOTE,0,2/4/2022,0.0,11486,5504,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4121,16,Pregnacy,7/13/2021,11.1,20.6,-46,1,267,216,1,216,216,MIGUEL-MAURICIO,CURFEW,0,9/2/2021,34.3,0,6887,0.0
4122,16,Pregnacy,7/11/2021,30.7,28.1,9,1,269,191,2,191,191,MIGUEL-MAURICIO,MARADONA,0,9/27/2021,43.4,0,9957,1.0
4123,12,Pregnacy,8/27/2021,35.9,22.4,61,1,222,144,2,144,144,JUAN DELGADO-JAIME,UNCHARTED,0,11/13/2021,39.9,0,6516,1.0
4124,10,Pregnacy,12/12/2021,17.8,27.6,-36,1,115,61,1,61,61,MIGUEL-JAIME,DECLARATION,0,2/4/2022,0.0,0,2451,0.0
4125,4,Labor,3/18/2022,22.7,17.6,29,1,19,0,0,0,0,0,0,0,0,0.0,0,219,0.0

In [30]:
df_clean['Birth_Date'] = pd.to_datetime(df_clean['Birth_Date'])

<ipython-input-30-ece33b835d06>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['Birth_Date'] = pd.to_datetime(df_clean['Birth_Date'])

In [38]:
df_clean_a = df_clean[['Gynecological_Status', 'Birth_Date', 'Daily_Production',
       'Average_Daily_Production_Days', 'Average_Daily_Production_Percentage',
       'Lactation_Number', 'Milk_Days', 'Days_After_Heat', 'Insemination',
       'Days_After_Insemination', 'Pregnacy_Days', 'Inseminator_Name',
       "Bull's Name", 'Number_of_Abortions', 'Insemination_Date',
       'Production_Peak', 'Previous_Lactation_Production',
       'Actual_Lactation_Production', 'Daily_Production_bool']]

In [46]:
df_clean_a = df_clean_a.rename(columns={'Birth_Date':'given_birthdate'})
df_clean_a

,Gynecological_Status,given_birthdate,Daily_Production,Average_Daily_Production_Days,Average_Daily_Production_Percentage,Lactation_Number,Milk_Days,Days_After_Heat,Insemination,Days_After_Insemination,Pregnacy_Days,Inseminator_Name,Bull's Name,Number_of_Abortions,Insemination_Date,Production_Peak,Previous_Lactation_Production,Actual_Lactation_Production,Daily_Production_bool
0,Pregnacy,2021-08-27,29.2,29.9,-2,4,222,139,2,139,139,CARLOS-URIEL,EXPO,0,11/18/2021,50.3,9269,7491,1.0
1,Pregnacy,2021-09-08,34.6,34.4,1,4,210,132,2,132,132,CARLOS-URIEL,MARADONA,0,11/25/2021,39.1,8048,6798,1.0
2,Labor,2022-03-17,44.3,44.3,0,4,20,0,0,0,0,0,0,0,0,0.0,10529,732,1.0
3,Labor,2022-04-01,41.1,0.0,0,3,5,0,0,0,0,0,0,0,0,0.0,11448,41,1.0
4,Pregnacy,2021-12-11,51.9,50.6,3,7,116,61,1,61,61,CARLOS-JEHU,KEYNOTE,0,2/4/2022,0.0,11486,5504,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4121,Pregnacy,2021-07-13,11.1,20.6,-46,1,267,216,1,216,216,MIGUEL-MAURICIO,CURFEW,0,9/2/2021,34.3,0,6887,0.0
4122,Pregnacy,2021-07-11,30.7,28.1,9,1,269,191,2,191,191,MIGUEL-MAURICIO,MARADONA,0,9/27/2021,43.4,0,9957,1.0
4123,Pregnacy,2021-08-27,35.9,22.4,61,1,222,144,2,144,144,JUAN DELGADO-JAIME,UNCHARTED,0,11/13/2021,39.9,0,6516,1.0
4124,Pregnacy,2021-12-12,17.8,27.6,-36,1,115,61,1,61,61,MIGUEL-JAIME,DECLARATION,0,2/4/2022,0.0,0,2451,0.0
4125,Labor,2022-03-18,22.7,17.6,29,1,19,0,0,0,0,0,0,0,0,0.0,0,219,0.0

In [50]:
from datetime import timedelta, datetime

In [55]:
df_clean_a['given_birthdate_days'] = df_clean_a['given_birthdate'] - datetime(2022,4,6)

In [56]:
df_clean_a.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4126 entries, 0 to 4125
Data columns (total 20 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Gynecological_Status                 4126 non-null   object
 1   given_birthdate                      4126 non-null   datetime64[ns]
 2   Daily_Production                     4126 non-null   float64
 3   Average_Daily_Production_Days        4126 non-null   float64
 4   Average_Daily_Production_Percentage  4126 non-null   int64
 5   Lactation_Number                     4126 non-null   int64
 6   Milk_Days                            4126 non-null   int64
 7   Days_After_Heat                      4126 non-null   int64
 8   Insemination                         4126 non-null   int64
 9   Days_After_Insemination              4126 non-null   int64
 10  Pregnacy_Days                        4126 non-null   int64
 11  Inseminator_Name                     4126 non-null   object
 12  Bull's Name                          4126 non-null   object
 13  Number_of_Abortions                  4126 non-null   int64
 14  Insemination_Date                    4126 non-null   object
 15  Production_Peak                      4126 non-null   float64
 16  Previous_Lactation_Production        4126 non-null   int64
 17  Actual_Lactation_Production          4126 non-null   int64
 18  Daily_Production_bool                4126 non-null   float64
 19  given_birthdate_days                 4126 non-null   timedelta64[ns]
dtypes: datetime64[ns](1), float64(4), int64(10), object(4), timedelta64[ns](1)
memory usage: 676.9+ KB

In [61]:
df_clean_a['given_birthdate_days'] = df_clean_a['given_birthdate_days'].dt.days

In [63]:
df_clean_a['given_birthdate_days'] = df_clean_a['given_birthdate_days'] * -1

In [66]:
df_clean_a = df_clean_a[['Gynecological_Status', 'Daily_Production',
       'Average_Daily_Production_Days', 'Average_Daily_Production_Percentage',
       'Lactation_Number', 'Milk_Days', 'Days_After_Heat', 'Insemination',
       'Days_After_Insemination', 'Pregnacy_Days', 'Inseminator_Name',
       "Bull's Name", 'Number_of_Abortions', 'Insemination_Date',
       'Production_Peak', 'Previous_Lactation_Production',
       'Actual_Lactation_Production', 'Daily_Production_bool',
       'given_birthdate_days']]

In [70]:
#df_clean.loc[df_clean['Daily_Production'] >= 28, 'Daily_Production_bool'] = 1

df_clean_a.loc[df_clean_a['Inseminator_Name'] == '0', 'Inseminator_Name'] = 'N/A'

/home/adrian/.local/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [72]:
df_clean_a.loc[df_clean_a["Bull's Name"] == '0', "Bull's Name"] = 'N/A'

/home/adrian/.local/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [75]:
df_clean_a = df_clean_a[['Gynecological_Status', 'Daily_Production',
       'Average_Daily_Production_Days', 'Average_Daily_Production_Percentage',
       'Lactation_Number', 'Milk_Days', 'Days_After_Heat', 'Insemination',
       'Days_After_Insemination', 'Pregnacy_Days', 'Inseminator_Name',
       "Bull's Name", 'Number_of_Abortions',
       'Production_Peak', 'Previous_Lactation_Production',
       'Actual_Lactation_Production', 'Daily_Production_bool',
       'given_birthdate_days']]

In [78]:
df_clean_a = df_clean_a.rename(columns={"Bull's Name":'bulls_name'})

In [80]:
# Create the OneHotEncoder instance
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(sparse=False)
# Gynecological_Status, Inseminator_Name, bulls_name, 
df_clean_a

,Gynecological_Status,Daily_Production,Average_Daily_Production_Days,Average_Daily_Production_Percentage,Lactation_Number,Milk_Days,Days_After_Heat,Insemination,Days_After_Insemination,Pregnacy_Days,Inseminator_Name,bulls_name,Number_of_Abortions,Production_Peak,Previous_Lactation_Production,Actual_Lactation_Production,Daily_Production_bool,given_birthdate_days
0,Pregnacy,29.2,29.9,-2,4,222,139,2,139,139,CARLOS-URIEL,EXPO,0,50.3,9269,7491,1.0,222
1,Pregnacy,34.6,34.4,1,4,210,132,2,132,132,CARLOS-URIEL,MARADONA,0,39.1,8048,6798,1.0,210
2,Labor,44.3,44.3,0,4,20,0,0,0,0,N/A,N/A,0,0.0,10529,732,1.0,20
3,Labor,41.1,0.0,0,3,5,0,0,0,0,N/A,N/A,0,0.0,11448,41,1.0,5
4,Pregnacy,51.9,50.6,3,7,116,61,1,61,61,CARLOS-JEHU,KEYNOTE,0,0.0,11486,5504,1.0,116
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4121,Pregnacy,11.1,20.6,-46,1,267,216,1,216,216,MIGUEL-MAURICIO,CURFEW,0,34.3,0,6887,0.0,267
4122,Pregnacy,30.7,28.1,9,1,269,191,2,191,191,MIGUEL-MAURICIO,MARADONA,0,43.4,0,9957,1.0,269
4123,Pregnacy,35.9,22.4,61,1,222,144,2,144,144,JUAN DELGADO-JAIME,UNCHARTED,0,39.9,0,6516,1.0,222
4124,Pregnacy,17.8,27.6,-36,1,115,61,1,61,61,MIGUEL-JAIME,DECLARATION,0,0.0,0,2451,0.0,115
4125,Labor,22.7,17.6,29,1,19,0,0,0,0,N/A,N/A,0,0.0,0,219,0.0,19

In [81]:
# Fit the encoder and produce encoded DataFrame
encode_df = pd.DataFrame(enc.fit_transform(df_clean_a.Gynecological_Status.values.reshape(-1,1)))

# Rename encoded columns
encode_df.columns = enc.get_feature_names(['Gynecological_Status'])
encode_df.head()

,Gynecological_Status_Abortion,Gynecological_Status_Heat,Gynecological_Status_Insemination,Gynecological_Status_Labor,Gynecological_Status_No_Inseminate,Gynecological_Status_Pregnacy
0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,1.0

In [83]:
df_clean_a = df_clean_a.merge(encode_df,left_index=True,right_index=True).drop("Gynecological_Status",1)
df_clean_a

,Daily_Production,Average_Daily_Production_Days,Average_Daily_Production_Percentage,Lactation_Number,Milk_Days,Days_After_Heat,Insemination,Days_After_Insemination,Pregnacy_Days,Inseminator_Name,...,Previous_Lactation_Production,Actual_Lactation_Production,Daily_Production_bool,given_birthdate_days,Gynecological_Status_Abortion,Gynecological_Status_Heat,Gynecological_Status_Insemination,Gynecological_Status_Labor,Gynecological_Status_No_Inseminate,Gynecological_Status_Pregnacy
0,29.2,29.9,-2,4,222,139,2,139,139,CARLOS-URIEL,...,9269,7491,1.0,222,0.0,0.0,0.0,0.0,0.0,1.0
1,34.6,34.4,1,4,210,132,2,132,132,CARLOS-URIEL,...,8048,6798,1.0,210,0.0,0.0,0.0,0.0,0.0,1.0
2,44.3,44.3,0,4,20,0,0,0,0,N/A,...,10529,732,1.0,20,0.0,0.0,0.0,1.0,0.0,0.0
3,41.1,0.0,0,3,5,0,0,0,0,N/A,...,11448,41,1.0,5,0.0,0.0,0.0,1.0,0.0,0.0
4,51.9,50.6,3,7,116,61,1,61,61,CARLOS-JEHU,...,11486,5504,1.0,116,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4121,11.1,20.6,-46,1,267,216,1,216,216,MIGUEL-MAURICIO,...,0,6887,0.0,267,0.0,0.0,0.0,0.0,0.0,1.0
4122,30.7,28.1,9,1,269,191,2,191,191,MIGUEL-MAURICIO,...,0,9957,1.0,269,0.0,0.0,0.0,0.0,0.0,1.0
4123,35.9,22.4,61,1,222,144,2,144,144,JUAN DELGADO-JAIME,...,0,6516,1.0,222,0.0,0.0,0.0,0.0,0.0,1.0
4124,17.8,27.6,-36,1,115,61,1,61,61,MIGUEL-JAIME,...,0,2451,0.0,115,0.0,0.0,0.0,0.0,0.0,1.0
4125,22.7,17.6,29,1,19,0,0,0,0,N/A,...,0,219,0.0,19,0.0,0.0,0.0,1.0,0.0,0.0

In [84]:
# Fit the encoder and produce encoded DataFrame
encode_df = pd.DataFrame(enc.fit_transform(df_clean_a.Inseminator_Name.values.reshape(-1,1)))

# Rename encoded columns
encode_df.columns = enc.get_feature_names(['Inseminator_Name'])
encode_df.head()

,Inseminator_Name_CARLOS-JAIME,Inseminator_Name_CARLOS-JEHU,Inseminator_Name_CARLOS-LUIS,Inseminator_Name_CARLOS-MANUEL,Inseminator_Name_CARLOS-MAURICIO,Inseminator_Name_CARLOS-URIEL,Inseminator_Name_DAVID-ADAN,Inseminator_Name_DAVID-JEHU,Inseminator_Name_DAVID-MANUEL,Inseminator_Name_DAVID-URIEL,...,Inseminator_Name_MVZ ROGELIO-PABLO,Inseminator_Name_MVZ ROGELIO-URIEL,Inseminator_Name_N/A,Inseminator_Name_ROBERTO-ADAN,Inseminator_Name_ROBERTO-DAVID,Inseminator_Name_ROBERTO-MANUEL,Inseminator_Name_ROBERTO-MAURICIO,Inseminator_Name_ROBERTO-URIEL,Inseminator_Name_ROGELIO-MAURICIO,Inseminator_Name_URIEL-JEHU
0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [85]:
df_clean_a = df_clean_a.merge(encode_df,left_index=True,right_index=True).drop("Inseminator_Name",1)
df_clean_a

,Daily_Production,Average_Daily_Production_Days,Average_Daily_Production_Percentage,Lactation_Number,Milk_Days,Days_After_Heat,Insemination,Days_After_Insemination,Pregnacy_Days,bulls_name,...,Inseminator_Name_MVZ ROGELIO-PABLO,Inseminator_Name_MVZ ROGELIO-URIEL,Inseminator_Name_N/A,Inseminator_Name_ROBERTO-ADAN,Inseminator_Name_ROBERTO-DAVID,Inseminator_Name_ROBERTO-MANUEL,Inseminator_Name_ROBERTO-MAURICIO,Inseminator_Name_ROBERTO-URIEL,Inseminator_Name_ROGELIO-MAURICIO,Inseminator_Name_URIEL-JEHU
0,29.2,29.9,-2,4,222,139,2,139,139,EXPO,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,34.6,34.4,1,4,210,132,2,132,132,MARADONA,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,44.3,44.3,0,4,20,0,0,0,0,N/A,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,41.1,0.0,0,3,5,0,0,0,0,N/A,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,51.9,50.6,3,7,116,61,1,61,61,KEYNOTE,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4121,11.1,20.6,-46,1,267,216,1,216,216,CURFEW,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4122,30.7,28.1,9,1,269,191,2,191,191,MARADONA,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4123,35.9,22.4,61,1,222,144,2,144,144,UNCHARTED,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4124,17.8,27.6,-36,1,115,61,1,61,61,DECLARATION,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4125,22.7,17.6,29,1,19,0,0,0,0,N/A,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [87]:
# Fit the encoder and produce encoded DataFrame
encode_df = pd.DataFrame(enc.fit_transform(df_clean_a.bulls_name.values.reshape(-1,1)))

# Rename encoded columns
encode_df.columns = enc.get_feature_names(['bulls_name'])
encode_df.head()

,bulls_name_1HO15524,bulls_name_29HO19282,bulls_name_29HO19624,bulls_name_29HO19691,bulls_name_501HO15427,bulls_name_AUZZI,bulls_name_BACKROAD,bulls_name_BACKROAD SEX.,bulls_name_BART,bulls_name_CHANDLER,...,bulls_name_RHETORIC,bulls_name_SCORPIO,bulls_name_SCRAPPLE,bulls_name_SILVER INFOCUS,bulls_name_TORETTO,bulls_name_TORRO,bulls_name_UNCHARTED,bulls_name_VIEWPOINT,bulls_name_WALLEN,bulls_name_WILD THING
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [88]:
df_clean_a = df_clean_a.merge(encode_df,left_index=True,right_index=True).drop("bulls_name",1)
df_clean_a

,Daily_Production,Average_Daily_Production_Days,Average_Daily_Production_Percentage,Lactation_Number,Milk_Days,Days_After_Heat,Insemination,Days_After_Insemination,Pregnacy_Days,Number_of_Abortions,...,bulls_name_RHETORIC,bulls_name_SCORPIO,bulls_name_SCRAPPLE,bulls_name_SILVER INFOCUS,bulls_name_TORETTO,bulls_name_TORRO,bulls_name_UNCHARTED,bulls_name_VIEWPOINT,bulls_name_WALLEN,bulls_name_WILD THING
0,29.2,29.9,-2,4,222,139,2,139,139,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,34.6,34.4,1,4,210,132,2,132,132,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,44.3,44.3,0,4,20,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,41.1,0.0,0,3,5,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,51.9,50.6,3,7,116,61,1,61,61,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4121,11.1,20.6,-46,1,267,216,1,216,216,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4122,30.7,28.1,9,1,269,191,2,191,191,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4123,35.9,22.4,61,1,222,144,2,144,144,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4124,17.8,27.6,-36,1,115,61,1,61,61,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4125,22.7,17.6,29,1,19,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [89]:
df_clean_a.to_csv('./Resources/data_prepared.csv')