In [1]:
import pandas as pd

In [2]:
df_completo = pd.read_json('../Resources/full.json')

In [3]:
mastitis = pd.read_csv('../Resources/mastitis_lactancia_vivas.csv')

In [4]:
inseminaciones = pd.read_csv('../Resources/inseminacion_lactancia_viva.csv')

In [5]:
abortos = pd.read_csv('../Resources/aborto_lactancia_vivas.csv')

In [6]:
print(f'completo : {len(df_completo)}')
print(f'mastitis : {len(mastitis)}')
print(f'inseminaciones : {len(inseminaciones)}')
print(f'abortos : {len(abortos["vaca"].unique())}')

completo : 60314
mastitis : 4442
inseminaciones : 4421
abortos : 4421

In [7]:
abortos_mastitis = abortos[abortos['vaca'].isin(mastitis['vaca'])]
ids_vaca_filter = abortos_mastitis[['vaca']]

In [8]:
df_completo_filter = df_completo[df_completo['id'].isin(ids_vaca_filter['vaca'])]

In [9]:
mastitis_filter = mastitis[mastitis['vaca'].isin(ids_vaca_filter['vaca'])]
inseminaciones_filter = inseminaciones[inseminaciones['vaca'].isin(ids_vaca_filter['vaca'])]
abortos_filter = abortos[abortos['vaca'].isin(ids_vaca_filter['vaca'])]

In [10]:
df_completo_filter

         id  lactation  daily_production  milk_days
0      6157          3              4597        241
18     6163          1              9000        276
19     6163          2             16301        432
20     6163          3             13131        313
21     6163          4             11676        276
...     ...        ...               ...        ...
60252  5012          3             10453        303
60253  5012          4              6527        188
60308  5035          1             11434        387
60309  5035          2             16008        531
60310  5035          3             13087        325

[9527 rows x 4 columns]

In [11]:
list_ids = list(df_completo_filter['id'].unique())
len(list_ids)

4397

In [12]:
out = []
for id in list_ids:
    filter_df = df_completo_filter.query(f'id == {id}')
    lact = filter_df['lactation'].unique()
    if len(filter_df) > len(lact):
        print(filter_df)
        print('==================================')
        out.append(id)

         id  lactation  daily_production  milk_days
0      6157          3              4597        241
35847  6157          1              9665        338
35848  6157          2             14026        455
35849  6157          3              6606        143
==================================
         id  lactation  daily_production  milk_days
2924   7156          1             10664        400
51221  7156          1              1436        492
51222  7156          2             13318        369
51223  7156          3             11782        265
==================================
          id  lactation  daily_production  milk_days
17482  11754          1               481        246
45391  11754          1              7843        227
==================================
         id  lactation  daily_production  milk_days
41749  9107          3              7548        276
41750  9107          4             10869        246
54627  9107          1             10578        292
54628  9107          2             11969        303
54629  9107          3              3778         81
==================================

In [13]:
df = df_completo_filter.query(f'id != 6157 and daily_production != 4597')
df = df.query(f'id != 7156 and daily_production != 10664')
df = df.query(f'id != 11754 and daily_production != 481')
df = df.query(f'id != 9107 and daily_production != 7548')
df = df.query(f'id != 9107 and daily_production != 10869')

In [14]:
out = []
for id in list_ids:
    filter_df = df.query(f'id == {id}')
    lact = filter_df['lactation'].unique()
    if len(filter_df) > len(lact):
        print(filter_df)
        print('==================================')
        out.append(id)

In [41]:
mastitis_filter = mastitis[mastitis['vaca'].isin(ids_vaca_filter['vaca'])]
inseminaciones_filter = inseminaciones[inseminaciones['vaca'].isin(ids_vaca_filter['vaca'])]
abortos_filter = abortos[abortos['vaca'].isin(ids_vaca_filter['vaca'])]
print(mastitis_filter)
print(inseminaciones_filter)
print(abortos_filter)

       vaca  estado estado_ginecol  patio fecha_de_naci  lact_n  del  \
0         5  ordeno         prenez     13     9/16/2016       4  265
1         9  ordeno           celo     24    10/11/2016       4  253
2        16  ordeno          parto     19    11/15/2016       4   63
3        27  ordeno           celo     20     12/4/2017       3   48
4       121  ordeno         prenez     15      8/6/2013       7  159
...     ...     ...            ...    ...           ...     ...  ...
4437  20423    seca         prenez     85     11/7/2018       1  290
4438  20426  ordeno         prenez     16     9/24/2019       1  265
4439  20428  ordeno         prenez     10     8/27/2019       1  158
4440  20429  ordeno           celo      6    10/23/2019       1   62
4441  20430  ordeno          parto      5     10/4/2019       1   41

      mastitis_lac_1  mastitis_lac_2  mastitis_lac_3  mastitis_lac_4  \
0                  0               0               0               0
1                  0               0               0               0
2                  0               0               0               0
3                  0               0               0              -1
4                  0               0               0               0
...              ...             ...             ...             ...
4437               1              -1              -1              -1
4438               0              -1              -1              -1
4439               0              -1              -1              -1
4440               0              -1              -1              -1
4441               0              -1              -1              -1

      mastitis_lac_5  mastitis_lac_6  mastitis_lac_7  mastitis_lac_8  \
0                 -1              -1              -1              -1
1                 -1              -1              -1              -1
2                 -1              -1              -1              -1
3                 -1              -1              -1              -1
4                  1               0               0              -1
...              ...             ...             ...             ...
4437              -1              -1              -1              -1
4438              -1              -1              -1              -1
4439              -1              -1              -1              -1
4440              -1              -1              -1              -1
4441              -1              -1              -1              -1

      mastitis_lac_9
0                 -1
1                 -1
2                 -1
3                 -1
4                 -1
...              ...
4437              -1
4438              -1
4439              -1
4440              -1
4441              -1

[4405 rows x 16 columns]
       vaca  estado estado_ginecol fecha_de_naci  lact_n  del  \
0         5  ordeno         prenez     9/16/2016       4  270
1         9  ordeno           celo    10/11/2016       4  258
2        16  ordeno          parto    11/15/2016       4   68
3        27  ordeno           celo     12/4/2017       3   53
4       121  ordeno         prenez      8/6/2013       7  164
...     ...     ...            ...           ...     ...  ...
4416  20423    seca         prenez     11/7/2018       1  290
4417  20426  ordeno         prenez     9/24/2019       1  270
4418  20428  ordeno         prenez     8/27/2019       1  163
4419  20429  ordeno   inseminacion    10/23/2019       1   67
4420  20430  ordeno          parto     10/4/2019       1   46

      inseminacion_lac_1  inseminacion_lac_2  inseminacion_lac_3  \
0                      1                   3                   1
1                      1                   3                   1
2                      2                   2                   1
3                      2                   5                   0
4                      4                   2                   4
...                  ...                 ...                 ...
4416                   2                  -1                  -1
4417                   2                  -1                  -1
4418                   1                  -1                  -1
4419                   1                  -1                  -1
4420                   0                  -1                  -1

      inseminacion_lac_4  inseminacion_lac_5  inseminacion_lac_6  \
0                      2                  -1                  -1
1                      2                  -1                  -1
2                      0                  -1                  -1
3                     -1                  -1                  -1
4                      2                   2                   3
...                  ...                 ...                 ...
4416                  -1                  -1                  -1
4417                  -1                  -1                  -1
4418                  -1                  -1                  -1
4419                  -1                  -1                  -1
4420                  -1                  -1                  -1

      inseminacion_lac_7  inseminacion_lac_8  inseminacion_lac_9
0                     -1                  -1                  -1
1                     -1                  -1                  -1
2                     -1                  -1                  -1
3                     -1                  -1                  -1
4                      1                  -1                  -1
...                  ...                 ...                 ...
4416                  -1                  -1                  -1
4417                  -1                  -1                  -1
4418                  -1                  -1                  -1
4419                  -1                  -1                  -1
4420                  -1                  -1                  -1

[4405 rows x 15 columns]
       vaca  estado estado_ginecol fecha_de_naci  lact_n  del  abortos_Lac_1  \
0         5  ordeno         prenez     9/16/2016       4  270              0
1         9  ordeno           celo    10/11/2016       4  258              0
2        16  ordeno          parto    11/15/2016       4   68              0
3        27  ordeno           celo     12/4/2017       3   53              0
4       121  ordeno         prenez      8/6/2013       7  164              0
...     ...     ...            ...           ...     ...  ...            ...
4416  20423    seca         prenez     11/7/2018       1  290              0
4417  20426  ordeno         prenez     9/24/2019       1  270              0
4418  20428  ordeno         prenez     8/27/2019       1  163              0
4419  20429  ordeno   inseminacion    10/23/2019       1   67              0
4420  20430  ordeno          parto     10/4/2019       1   46              0

      abortos_lac_2  abortos_lac_3  abortos_lac_4  abortos_lac_5  \
0                 0              0              0             -1
1                 0              0              1             -1
2                 0              0              0             -1
3                 0              0             -1             -1
4                 0              0              0              0
...             ...            ...            ...            ...
4416             -1             -1             -1             -1
4417             -1             -1             -1             -1
4418             -1             -1             -1             -1
4419             -1             -1             -1             -1
4420             -1             -1             -1             -1

      abortos_lac_6  abortos_lac_7  abortos_lac_8  abortos_lac_9
0                -1             -1             -1             -1
1                -1             -1             -1             -1
2                -1             -1             -1             -1
3                -1             -1             -1             -1
4                 0              0             -1             -1
...             ...            ...            ...            ...
4416             -1             -1             -1             -1
4417             -1             -1             -1             -1
4418             -1             -1             -1             -1
4419             -1             -1             -1             -1
4420             -1             -1             -1             -1

[4405 rows x 15 columns]

In [16]:
df = df.reset_index(drop=True)
df.fillna("nan")

        id  lactation  daily_production  milk_days
0     6163          1              9000        276
1     6163          2             16301        432
2     6163          3             13131        313
3     6163          4             11676        276
4     6163          5             13741        423
...    ...        ...               ...        ...
9507  5012          3             10453        303
9508  5012          4              6527        188
9509  5035          1             11434        387
9510  5035          2             16008        531
9511  5035          3             13087        325

[9512 rows x 4 columns]

In [17]:
for i in range(1,10):
    df['lactation_' + str(i)] = 0

In [18]:
for id in list_ids:
    filter_df = df.query(f'id == {id}')
    if filter_df.lactation.unique().any():
        for lact in list(filter_df.lactation.unique()):
            index_ = df.query(f'id == {id}').index[0]
            df.iloc[index_]['lactation_' + str(lact)] = 1

In [19]:
df.query(f'id == 6163').index

Int64Index([0, 1, 2, 3, 4, 5], dtype='int64')

In [20]:
df.iloc[18]['lactation_2'] = 5

In [21]:
for i in range(1,10):
    df['total_production_' + str(i)] = 0

In [22]:
for id in list_ids:
    filter_df = df.query(f'id == {id}')
    if filter_df.lactation.unique().any():
        for lact in list(filter_df.lactation.unique()):
            index_ = df.query(f'id == {id}').index[0]
            index_t = df.query(f'id == {id}').index[lact - 1]
            df.iloc[index_]['total_production_' + str(lact)] = df.iloc[index_t]['daily_production']

In [23]:
df

,id,lactation,daily_production,milk_days,lactation_1,lactation_2,lactation_3,lactation_4,lactation_5,lactation_6,...,lactation_9,total_production_1,total_production_2,total_production_3,total_production_4,total_production_5,total_production_6,total_production_7,total_production_8,total_production_9
0,6163,1,9000,276,1,1,1,1,1,1,...,0,9000,16301,13131,11676,13741,4989,0,0,0
1,6163,2,16301,432,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6163,3,13131,313,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,6163,4,11676,276,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,6163,5,13741,423,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9507,5012,3,10453,303,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9508,5012,4,6527,188,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9509,5035,1,11434,387,1,1,1,0,0,0,...,0,11434,16008,13087,0,0,0,0,0,0
9510,5035,2,16008,531,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9511,5035,3,13087,325,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
for i in range(1,10):
    df['milk_days_' + str(i)] = 0

In [25]:
for id in list_ids:
    filter_df = df.query(f'id == {id}')
    if filter_df.lactation.unique().any():
        for lact in list(filter_df.lactation.unique()):
            index_ = df.query(f'id == {id}').index[0]
            index_t = df.query(f'id == {id}').index[lact - 1]
            df.iloc[index_]['milk_days_' + str(lact)] = df.iloc[index_t]['milk_days']

In [29]:
group = df.groupby('id').first()

In [32]:
group_df = group.reset_index()

In [35]:
group_df

,id,lactation,daily_production,milk_days,lactation_1,lactation_2,lactation_3,lactation_4,lactation_5,lactation_6,...,total_production_9,milk_days_1,milk_days_2,milk_days_3,milk_days_4,milk_days_5,milk_days_6,milk_days_7,milk_days_8,milk_days_9
0,5,1,7817,288,1,1,1,1,0,0,...,0,288,319,271,263,0,0,0,0,0
1,9,1,7793,290,1,1,1,1,0,0,...,0,290,322,272,251,0,0,0,0,0
2,16,1,10402,340,1,1,1,1,0,0,...,0,340,392,310,61,0,0,0,0,0
3,27,1,9367,334,1,1,1,0,0,0,...,0,334,403,46,0,0,0,0,0,0
4,121,1,11491,343,1,1,1,1,1,1,...,0,343,294,342,301,349,303,157,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4061,20420,1,9209,316,1,0,0,0,0,0,...,0,316,0,0,0,0,0,0,0,0
4062,20423,1,10430,289,1,0,0,0,0,0,...,0,289,0,0,0,0,0,0,0,0
4063,20426,1,7725,263,1,0,0,0,0,0,...,0,263,0,0,0,0,0,0,0,0
4064,20429,1,1375,60,1,0,0,0,0,0,...,0,60,0,0,0,0,0,0,0,0
4065,20430,1,686,39,1,0,0,0,0,0,...,0,39,0,0,0,0,0,0,0,0

In [42]:
group_df = group_df.drop(['lactation', 'daily_production', 'milk_days'], axis=1)

KeyError: "['lactation' 'daily_production' 'milk_days'] not found in axis"

In [46]:
abortos_filter.columns

Index(['vaca', 'estado', 'estado_ginecol', 'fecha_de_naci', 'lact_n', 'del',
       'abortos_Lac_1', 'abortos_lac_2', 'abortos_lac_3', 'abortos_lac_4',
       'abortos_lac_5', 'abortos_lac_6', 'abortos_lac_7', 'abortos_lac_8',
       'abortos_lac_9'],
      dtype='object')

## merge

In [47]:
mastitis_filter_to_merge = mastitis_filter[['vaca', 'mastitis_lac_1', 'mastitis_lac_2', 'mastitis_lac_3',
       'mastitis_lac_4', 'mastitis_lac_5', 'mastitis_lac_6', 'mastitis_lac_7',
       'mastitis_lac_8', 'mastitis_lac_9']]
inseminaciones_filter_to_merge = inseminaciones_filter[['vaca','inseminacion_lac_1', 'inseminacion_lac_2', 'inseminacion_lac_3',
       'inseminacion_lac_4', 'inseminacion_lac_5', 'inseminacion_lac_6',
       'inseminacion_lac_7', 'inseminacion_lac_8', 'inseminacion_lac_9']]
abortos_filter_to_merge = abortos_filter[['vaca', 'abortos_Lac_1', 'abortos_lac_2', 'abortos_lac_3', 'abortos_lac_4',
       'abortos_lac_5', 'abortos_lac_6', 'abortos_lac_7', 'abortos_lac_8',
       'abortos_lac_9']]

In [50]:
total_cows_data = pd.merge(group_df, mastitis_filter_to_merge, how='left', left_on='id', right_on='vaca').fillna(False, downcast='infer')

In [51]:
total_cows_data = pd.merge(group_df, inseminaciones_filter_to_merge, how='left', left_on='id', right_on='vaca').fillna(False, downcast='infer')

In [52]:
total_cows_data = pd.merge(group_df, abortos_filter_to_merge, how='left', left_on='id', right_on='vaca').fillna(False, downcast='infer')

In [54]:
total_cows_data.columns

Index(['id', 'lactation_1', 'lactation_2', 'lactation_3', 'lactation_4',
       'lactation_5', 'lactation_6', 'lactation_7', 'lactation_8',
       'lactation_9', 'total_production_1', 'total_production_2',
       'total_production_3', 'total_production_4', 'total_production_5',
       'total_production_6', 'total_production_7', 'total_production_8',
       'total_production_9', 'milk_days_1', 'milk_days_2', 'milk_days_3',
       'milk_days_4', 'milk_days_5', 'milk_days_6', 'milk_days_7',
       'milk_days_8', 'milk_days_9', 'vaca', 'abortos_Lac_1', 'abortos_lac_2',
       'abortos_lac_3', 'abortos_lac_4', 'abortos_lac_5', 'abortos_lac_6',
       'abortos_lac_7', 'abortos_lac_8', 'abortos_lac_9'],
      dtype='object')

In [56]:
total_cows_data = total_cows_data.drop(['vaca'], axis=1)

In [57]:
total_cows_data.columns

Index(['id', 'lactation_1', 'lactation_2', 'lactation_3', 'lactation_4',
       'lactation_5', 'lactation_6', 'lactation_7', 'lactation_8',
       'lactation_9', 'total_production_1', 'total_production_2',
       'total_production_3', 'total_production_4', 'total_production_5',
       'total_production_6', 'total_production_7', 'total_production_8',
       'total_production_9', 'milk_days_1', 'milk_days_2', 'milk_days_3',
       'milk_days_4', 'milk_days_5', 'milk_days_6', 'milk_days_7',
       'milk_days_8', 'milk_days_9', 'abortos_Lac_1', 'abortos_lac_2',
       'abortos_lac_3', 'abortos_lac_4', 'abortos_lac_5', 'abortos_lac_6',
       'abortos_lac_7', 'abortos_lac_8', 'abortos_lac_9'],
      dtype='object')

In [59]:
total_cows_data.to_csv('../Resources/alive_cows_to_predict.csv')

In [60]:
total_cows_data

,id,lactation_1,lactation_2,lactation_3,lactation_4,lactation_5,lactation_6,lactation_7,lactation_8,lactation_9,...,milk_days_9,abortos_Lac_1,abortos_lac_2,abortos_lac_3,abortos_lac_4,abortos_lac_5,abortos_lac_6,abortos_lac_7,abortos_lac_8,abortos_lac_9
0,5,1,1,1,1,0,0,0,0,0,...,0,0,0,0,0,-1,-1,-1,-1,-1
1,9,1,1,1,1,0,0,0,0,0,...,0,0,0,0,1,-1,-1,-1,-1,-1
2,16,1,1,1,1,0,0,0,0,0,...,0,0,0,0,0,-1,-1,-1,-1,-1
3,27,1,1,1,0,0,0,0,0,0,...,0,0,0,0,-1,-1,-1,-1,-1,-1
4,121,1,1,1,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4061,20420,1,0,0,0,0,0,0,0,0,...,0,0,-1,-1,-1,-1,-1,-1,-1,-1
4062,20423,1,0,0,0,0,0,0,0,0,...,0,0,-1,-1,-1,-1,-1,-1,-1,-1
4063,20426,1,0,0,0,0,0,0,0,0,...,0,0,-1,-1,-1,-1,-1,-1,-1,-1
4064,20429,1,0,0,0,0,0,0,0,0,...,0,0,-1,-1,-1,-1,-1,-1,-1,-1
4065,20430,1,0,0,0,0,0,0,0,0,...,0,0,-1,-1,-1,-1,-1,-1,-1,-1